@model MVC_Task.Models.Section

@{
    ViewData["Title"] = "EnrollStudent";
}


<h2>Section</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EnrollStudent">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden"  asp-for="Id" value="esrdfesfeasx" />
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
           
                @Html.DropDownList("CourseId", ViewBag.CourseList as SelectList, "Select Course",new {@class="form-control"})
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SectionList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
